@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vf-bg text-white antialiased overflow-hidden;
    font-family: 'Inter', -apple-system, sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2D3748;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4A5568;
}
